.question-container{
    display: flex;
    justify-content: center;
    margin: 50px auto;
    flex-direction: column;
    max-width: 50%;
    padding: 30px;
    background-color: rgb(194, 198, 250);
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
}
.question-container h2{
    margin: 0 0px 10px  20px;
}
.qa-underline{
    border-bottom: 3px solid white;
    margin: 0 20px;
    margin-bottom: 20px;
    width: 500px;
}
.question-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
.single-qa{
    background-color: white;
    border: 1.5px solid white;
    margin: 20px;
}
.single-qa p{
    padding: 0 0 20px 15px ;
    max-width: 600px;
    line-height: 20px;
    font-size: 18px;
}
.single-qa h1{
    margin-right: 10px;    
}

.show-hide-qa{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    outline: none;
    border: 2px solid white;
    font-size: 25px;
    color: white;
    font-weight: 1000px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-color: rgb(146, 146, 194);
    padding: 10px;
}
.show-hide-qa:hover{
    background-color: white;
    color: black;
    border: 2px solid black;    
}

